<ion-view view-title="">
  <ion-content>
  <div class="item item-image lala">
  	<div class="imghome"><img src="img/home.jpg"></div>
	  
	
    <h1 class="titulohome"><center>Cuanto sabe de los simpson?</center></h1>
  		<h4 ><center>Ingrese su nombre y demuestre cuanto sabe del programa mas popular del mundo</h4></center>
  </div>
  		<ion-list>
          <ion-item menu-close ng-click="login()">
            Login
          </ion-item>
          <ion-item menu-close ng-click="jugar()">
            Jugar
          </ion-item>
        </ion-list>
</ion-view>
