<ion-view view-title="Mi Perfil">
  <ion-content>
	   <div id="page-wrap">
	    
	        <img src="img/adam.png" alt="Photo of Cthulu" id="pic" class="mediana"/>
	    
	        <div id="contact-info" class="vcard">
	        
	            <!-- Microformats! -->
	        
	            <h1 class="fn">Brian Ojeda</h1>
	        
	            <p>
	                Cell: <span class="tel">1153831034</span><br />
	                Email: <a class="email" href="mailto:brian_ezequiel_ojeda@hotmail.com">brian_ezequiel_ojeda@hotmail.com</a>
	            </p>
	        </div>
	                
	        <div id="objective">
	            <p>
	                Soy una joven profesional en busca de 
	            </p>
	        </div>
	        
	        <div class="clear"></div>
	        
	        <dl>
	            <dd class="clear"></dd>
	            
	            <dt>Educacion</dt>
	            <dd>
	                <h2>Tecnico Profesional y Personal en Informatica- E.E.T. N°1</h2>
	                <h2>Instructor de Musculacion y Personal Trainers- I.D.A</h2>
	                <h2>Tecnico Superior en Programacion- U.T.N. F.R.A. (Actualmente)</h2>
	            </dd>
	            
	            <dd class="clear"></dd>
	            
	            <dt>Experiencia</dt>
	            <dd>
	                <h2>TecnoIntelcom <span>Monte Grande -  marzo a julio-2013</span></h2>
	                <ul>
	                    <li>Soporte Tecnico</li>
	                    <li>Instalacion de camaras de seguridad</li>
	                </ul>
	                <h2>Mksoft<span>Balvanera - julio a octubre-2013</span></h2>
	                <ul>
	                    <li>Soporte tecnico</li>
	                </ul> 
	                <h2>Everis<span>Diagonal Norte - noviembre-2013 a abril-2014</span></h2>
	                <ul>
	                    <li>Desarrollador de aplicaciones web y de escritorio-Junior</li>
	                </ul>
	                <h2>Servicio Penitenciario Federal<span>Balvanera - abril-2014 a la actualidad</span></h2>
	                <ul>
	                    <li>Soporte tecnico</li>
	                </ul> 
	                <h2>Gimnacio La Terraza <span>Ezeiza - julio-2016 a la actualidad</span></h2>
	                <ul>
	                    <li>Instructor de sala</li>
	                    <li>Personal Trainer</li>
	                </ul> 
	            </dd>
	            
	            <dd class="clear"></dd>
	            
	            <dt>Hobbies</dt>
	            <dd>World Domination, Deep Sea Diving, Murder Most Foul</dd>
	            
	            <dd class="clear"></dd>
	            
	            
	        </dl>
	        
	        <div class="clear"></div>
	    
	    </div>
  </ion-content>
</ion-view>
